.editTaskInput{
    border: none;
    background-color: transparent;
    padding:0;
}
.editTaskBtn{
    float:right;
}
.namespan{
  /* white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
  max-width: 50px; */
 display: block;
 width: 180px;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.galleryscroll{
 overflow-y:scroll;
 height:510px;
}
.floatright{
    float: right;
}

.fileUpload input[type=file]{
    display:none;
}
.btnFile{
    background-color:#1ab394;
    color:#FFFFFF;
    border:1px solid #1ab394;;
    border-radius:3px;
    padding:6px 12px;
    font-size:16px;
}
